Cau1

A Hướng Đối Tượng

In [66]:
class NhanVien:
    def __init__(self, ma_nv: str, luong_cb: float):
        self.__ma_nv = ma_nv
        self.__luong_cb = luong_cb

    @property
    def ma_nv(self) -> str:
        return self.__ma_nv

    @property
    def luong_cb(self) -> float:
        return self.__luong_cb

    def tinh_luong(self) -> float:
        # Mặc định trả về lương cơ bản
        return self.__luong_cb


class NhanVienTangCa(NhanVien):
    def tinh_luong(self) -> float:
        return self.luong_cb * 1.2


class NhanVienChuyenChuyen(NhanVien):
    def tinh_luong(self) -> float:
        return self.luong_cb + 500_000


# Phần main minh họa yêu cầu
if __name__ == "__main__":
    danh_sach = [
        NhanVien("NV001", 10_000_000),
        NhanVienTangCa("NV002", 10_000_000),
        NhanVienChuyenChuyen("NV003", 10_000_000),
    ]

    for nv in danh_sach:
        print(f"Ma NV: {nv.ma_nv} - Luong: {nv.tinh_luong():,.0f} VND")

Ma NV: NV001 - Luong: 10,000,000 VND
Ma NV: NV002 - Luong: 12,000,000 VND
Ma NV: NV003 - Luong: 10,500,000 VND

B Numpy

In [67]:
import numpy as np

# Dữ liệu ban đầu
san_luong = [12, None, 8, 15, None, 10]

# 1. Chuyển thành mảng NumPy (ép kiểu float để xử lý NaN)
arr = np.array(san_luong, dtype=float)

# Reshape thành mảng 2x3
arr_reshaped = arr.reshape(2, 3)
print("Mảng sau khi reshape (2x3):")
print(arr_reshaped)
print()

# 2. Tính giá trị trung bình (bỏ qua NaN)
mean_value = np.nanmean(arr_reshaped)
print(f"Giá trị trung bình (bỏ qua NaN): {mean_value}")
print()

# Thay thế NaN bằng giá trị trung bình
arr_clean = arr_reshaped.copy()           
arr_clean[np.isnan(arr_clean)] = mean_value

print("Mảng sau khi thay NaN bằng trung bình:")
print(arr_clean)
print()

# 3. Trích xuất các phần tử > 9
greater_than_9 = arr_clean[arr_clean > 9]

print("Các phần tử > 9:", greater_than_9)

# Tìm giá trị nhỏ nhất trong số các phần tử > 9
if len(greater_than_9) > 0:
    min_value = np.min(greater_than_9)
    print(f"Giá trị nhỏ nhất trong các phần tử > 9: {min_value}")
else:
    print("Không có phần tử nào > 9")

Mảng sau khi reshape (2x3):
[[12. nan  8.]
 [15. nan 10.]]

Giá trị trung bình (bỏ qua NaN): 11.25

Mảng sau khi thay NaN bằng trung bình:
[[12.   11.25  8.  ]
 [15.   11.25 10.  ]]

Các phần tử > 9: [12.   11.25 15.   11.25 10.  ]
Giá trị nhỏ nhất trong các phần tử > 9: 10.0

Cau2

Lọc dữ liệu

In [ ]:
import pandas as pd
import os

# Đường dẫn thư mục
path = r'D:\47_NguyenNhatTuan_0077\Data'

# 1. Đọc dữ liệu trực tiếp từ file csv trong thư mục
file_csv = os.path.join(path, 'nhan_su.csv')
df = pd.read_csv(file_csv)
print(df.head())
print(df.info())

   Ma_NV  Phong_Ban  Thanh_Tich  Nam_Cong_Tac
0  NS001  KinhDoanh        85.0          2021
1  ns002  KinhDoanh         NaN          2022
2  NS003     NhanSu        90.0          2023
3  NV004     NhanSu        70.0          2020
4  NS005    KyThuat        88.0          2021
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ma_NV         12 non-null     object
 1   Phong_Ban     12 non-null     object
 2   Thanh_Tich    9 non-null      float64
 3   Nam_Cong_Tac  12 non-null     int64
dtypes: float64(1), int64(1), object(2)
memory usage: 512.0+ bytes
None

In [69]:
# Lọc các bản ghi có Ma_NV chứa chuỗi "NS"

mask_ns = df['Ma_NV'].str.contains('NS', case=False, na=False)

# Nam_Cong_Tac >= 2021
mask_year = df['Nam_Cong_Tac'] >= 2021

df_filtered = df[mask_ns & mask_year]

print(df_filtered)

    Ma_NV  Phong_Ban  Thanh_Tich  Nam_Cong_Tac
0   NS001  KinhDoanh        85.0          2021
1   ns002  KinhDoanh         NaN          2022
2   NS003     NhanSu        90.0          2023
4   NS005    KyThuat        88.0          2021
5   ns006    KyThuat         NaN          2024
6   NS007  KinhDoanh        95.0          2023
8   NS009     NhanSu         NaN          2022
9   NS010    KyThuat        92.0          2024
10  NS011  KinhDoanh        80.0          2021

Làm sạch dữ liệu

In [70]:

df_filtered = df_filtered.copy()

# Tính giá trị trung bình của cột Thanh_Tich
mean_thanh_tich = df_filtered['Thanh_Tich'].mean()

# Điền giá trị thiếu bằng giá trị trung bình
df_filtered['Thanh_Tich'] = df_filtered['Thanh_Tich'].fillna(mean_thanh_tich)

print(f"Mean value used for filling: {mean_thanh_tich}")
print(df_filtered)

Mean value used for filling: 88.33333333333333
    Ma_NV  Phong_Ban  Thanh_Tich  Nam_Cong_Tac
0   NS001  KinhDoanh   85.000000          2021
1   ns002  KinhDoanh   88.333333          2022
2   NS003     NhanSu   90.000000          2023
4   NS005    KyThuat   88.000000          2021
5   ns006    KyThuat   88.333333          2024
6   NS007  KinhDoanh   95.000000          2023
8   NS009     NhanSu   88.333333          2022
9   NS010    KyThuat   92.000000          2024
10  NS011  KinhDoanh   80.000000          2021

Tổng hợp dữ liệu (Groupby)

In [71]:
df_cleaned = df_filtered

#  Tinh tong thanh tich theo phong ban
grouped_data = df_cleaned.groupby('Phong_Ban')['Thanh_Tich'].sum().reset_index()

print(grouped_data)

   Phong_Ban  Thanh_Tich
0  KinhDoanh  348.333333
1    KyThuat  268.333333
2     NhanSu  178.333333

Biến đổi bảng (Pivot Table)

In [72]:
# Read the cleaned data
df_cleaned = pd.read_csv('nhan_su_cleaned.csv')


# Pivot Table
pivot_table = df_cleaned.pivot_table(
    index='Phong_Ban',
    columns='Nam_Cong_Tac',
    values='Thanh_Tich',
    aggfunc='sum',
    fill_value=0
)

print(pivot_table)

Nam_Cong_Tac  2021       2022  2023        2024
Phong_Ban
KinhDoanh      165  88.333333    95    0.000000
KyThuat         88   0.000000     0  180.333333
NhanSu           0  88.333333    90    0.000000

Lưu trữ và Truy vấn

In [73]:
import sqlite3

conn = sqlite3.connect('HeThong.db')

pivot_table.reset_index().to_sql('bang_luong_2024', conn, if_exists='replace', index=False)

# Thực hiện truy vấn hiển thị 5 dòng đầu tiên của bảng
query = "SELECT * FROM bang_luong_2024 LIMIT 5"
df_check = pd.read_sql(query, conn)

# Đóng kết nối
conn.close()

print(df_check)

   Phong_Ban  2021       2022  2023        2024
0  KinhDoanh   165  88.333333    95    0.000000
1    KyThuat    88   0.000000     0  180.333333
2     NhanSu     0  88.333333    90    0.000000